<!DOCTYPE HTML>
<html>
	<head>
		<title>Before I die ...</title>

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<script src="https://www.google.com/recaptcha/api.js" async defer></script>
		<script src="https://use.fontawesome.com/33c964976c.js"></script>
		<script>
			function onSubmit(token) {
				document.getElementById("form").submit();
			}
		</script>

		{% javascripts '@AppBundle/Resources/public/js/ie/html5shiv.js' %}
			<!--[if lte IE 8]><script src="{{ asset_url }}"></script><![endif]-->
		{% endjavascripts %}

		{% stylesheets 'bundles/app/css/main.css' filter='cssrewrite' %}
			<link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}

		<script>
			{% image '@AppBundle/Resources/public/css/images/overlay.png' %}
				var bg_url = "{{ asset_url }}";
			{% endimage %}
		</script>

		{% stylesheets 'bundles/app/css/ie8.css' filter='cssrewrite' %}
			<!--[if lte IE 8]><link rel="stylesheet" href="{{ asset_url }}" /><![endif]-->
		{% endstylesheets %}
		{% stylesheets 'bundles/app/css/ie9.css' filter='cssrewrite' %}
			<!--[if lte IE 9]><link rel="stylesheet" href="{{ asset_url }}" /><![endif]-->
		{% endstylesheets %}
		
	</head>
	<body>

		<!-- Header -->
			<section id="header">
				<header class="major">
					<h1>Before I die ...</h1>
					<p>Анонимные размышления о смысле жизни</p>
				</header>
				<div class="container">
					<ul class="actions">
						<li><a href="#one" class="button scrolly">Читать</a></li>
						<li><a href="{{ telegram_link }}" target="_blank" class="button special">Подписаться</a></li>
					</ul>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="main special">
				<div class="container">
					{% image '@AppBundle/Resources/public/img/pic01.jpg' %}
						<span class="image fit primary"><img src="{{ asset_url }}" alt="image " /></span>
					{% endimage %}
					<div class="content">
						{% if newPost %}
							<p>Ваше сообщение получено.</p>
						{% endif %}
						<header class="major">
							<h2>Прежде чем умру, я ...</h2>
						</header>
						{% for post in posts %}
							<p>{{ post.text }}</p>
						{% endfor %}
					</div>
					<a href="#footer" class="goto-next scrolly">Next</a>
				</div>
			</section>


		<!-- Footer -->
			<section id="footer">
				<div class="container">
					<header class="major">
						<h2>Прежде чем умру, я ...</h2>
					</header>
					{{ form_start(form, {'attr': {'id': 'form'}}) }}
						<div class="row uniform">
							<div class="12u$">
								{{ form_widget(form.text) }}
							</div>
							<div class="12u$">
								<ul class="actions">
									<li>
										<input
												type="submit"
												class="g-recaptcha special"
												value="Отправить"
												data-sitekey="{{ recaptcha_site_key }}"
												data-callback='onSubmit'
										/></li>
									<li><a href="{{ telegram_link }}" target="_blank" class="button">Подписаться</a></li>
								</ul>
							</div>
						</div>
					{{ form_end(form) }}
				</div>
				<footer>
					<ul class="icons">
						<li><a href="https://t.me/igor_kamyshev" target="_blank" class="icon alt fa-telegram"><span class="label">Telegram</span></a></li>
						<li><a href="https://twitter.com/igor_a_kamyshev" target="_blank" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.instagram.com/igor.a.kamyshev/" target="_blank" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="mailto:garik.novel@gmail.com" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
						<li><a href="https://github.com/TheNovel" target="_blank" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="https://vk.com/igor.a.kamyshev" target="_blank" class="icon alt fa-vk"><span class="label">VK</span></a></li>
						<li><a href="https://www.facebook.com/profile.php?id=100012189521895" target="_blank" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; before I die ...</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li><li>Images: <a href="http://unsplash.com">Unsplash</a></li>
					</ul>
				</footer>
			</section>

		<!-- Scripts -->
			{% javascripts '@AppBundle/Resources/public/js/jquery.min.js' %}
				<script src="{{ asset_url }}"></script>
			{% endjavascripts %}
			{% javascripts '@AppBundle/Resources/public/js/jquery.scrollex.min.js' %}
				<script src="{{ asset_url }}"></script>
			{% endjavascripts %}
			{% javascripts '@AppBundle/Resources/public/js/jquery.scrolly.min.js' %}
				<script src="{{ asset_url }}"></script>
			{% endjavascripts %}
			{% javascripts '@AppBundle/Resources/public/js/skel.min.js' %}
				<script src="{{ asset_url }}"></script>
			{% endjavascripts %}
			{% javascripts '@AppBundle/Resources/public/js/util.js' %}
				<script src="{{ asset_url }}"></script>
			{% endjavascripts %}
			{% javascripts '@AppBundle/Resources/public/js/ie/respond.min.js' %}
				<!--[if lte IE 8]><script src="{{ asset_url }}"></script><![endif]-->
			{% endjavascripts %}
			{% javascripts '@AppBundle/Resources/public/js/main.js' %}
				<script src="{{ asset_url }}"></script>
			{% endjavascripts %}

	</body>
</html>